.show-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.show-title h1 {
  font-weight: bold;
}

.show-contenu {
  display: flex;
  align-items: center;
  margin: 60px 0;
}

.show-contenu p {
  margin-left: 60px;
}

.show-contenu img {
  flex: 0 0 300px;
}

.show-action {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.show-action a {
  font-size: 36px;
  color: black;
  opacity: 0.15;
  font-weight: normal;
}

.show-action a:hover {
  opacity: 0.8;
}

@media (max-width: 576px) {
  .show-title {
    padding: 40px 0 40px 0;
  }

  .show-contenu {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .show-contenu p {
    margin-left: 0;
    padding: 40px 0 20px 0
  }

  .show-action {
    width: 300px;
    margin: 0 auto;
  }
}
